@model UniDesk.Web.Models.Ticket

<h1>Szczegóły zgłoszenia</h1>

<p><strong>Tytuł:</strong> @Model.Title</p>
<p><strong>Opis:</strong> @Model.Description</p>
<p><strong>Status:</strong> @Model.Status</p>
<p><strong>Data:</strong> @Model.CreatedAt</p>


<p><a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a></p>
<a asp-action="Index">Powrót</a>