@using UniDesk.Web.Models
@model IEnumerable<UniDesk.Web.Models.Ticket>

    <h1>Lista zgłoszeń</h1>

    <h3>Dodaj zgłoszenie</h3>

    <form method="post" asp-action="Create">

        <div asp-validation-summary="All" style="color:red"></div>

        <div>
            <label>Tytuł</label>
            <input type="text" name="Title" />
        </div>

        <div>
            <label>Opis</label>
            <input type="text" name="Description" />
        </div>

        <button type="submit">Dodaj</button>

    </form>

    <hr>

    <h3>Szukaj zgłoszenia</h3>

    <form method="get" asp-controller="Tickets" asp-action="Index">
        <input type="text" name="search" placeholder="Szukaj..." />
        <button type="submit">Szukaj</button>
    </form>

    <hr>

    <ul>
        @foreach (var ticket in Model)
{
        <li>
            <a asp-action="Details" asp-route-id="@ticket.Id">
                <strong>@ticket.Title</strong>
            </a>
            - @ticket.Description -

            @switch (ticket.Status)
        {
            case TicketStatus.Open:
            <span style="color:green">@ticket.Status</span>
                break;

            case TicketStatus.InProgress:
            <span style="color:orange">@ticket.Status</span>
                break;

            case TicketStatus.Closed:
            <span style="color:gray">@ticket.Status</span>
                break;
        }

        </li>
}
    </ul>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
